openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: station_types
        in: query
        description: тип станции
        required: true
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспорта
        required: true
        schema:
          type: string
      
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
                
  /v3.0/search/:
    get:
      tags:
      - getFlightsBetweenStations
      summary: Расписание рейсов между станциями
      operationId: getFlightsBetweenStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата, на которую необходимо получить список рейсов
        required: false
        schema:
          type: string
              
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchInfo'
                
  /v3.0/carrier/:
    get:
      tags:
      - getInfoCarrier
      summary: информация о перевозчике
      operationId: getInfoCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
          
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'
                
  /v3.0/nearest_settlement/:
    get:
      tags:
        - getNearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус поиска
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'
  /v3.0/schedule/:
    get:
      tags:
        - getScheduleByStation
      summary: Ближайший город
      operationId: getScheduleByStation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationScheduleResponse'
  /v3.0/thread/:
    get:
      tags:
        - getThreadStations
      summary: Список станций следования нитки
      operationId: getThreadStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: Язык ответа
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStationsResponse'
  /v3.0/stations_list/:
    get:
      tags:
        - getStationList
      summary: Список всех доступных станций
      operationId: getStationList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: Язык ответа
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationListResponse'
            text/html:
              schema:
                type: string
  /v3.0/copyright/:
    get:
      tags:
        - getCopyrightYandex
      summary: Список всех доступных станций
      operationId: getCopyrightYandex
      parameters:
      - name: apikey
        in: query
        required: true
        description: Ключ API.
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: json или xml
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightResponse'
          
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        codes:
          type: object
          properties:
            yandex_code:
              type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    SearchInfo:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segments'
    Segments:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        has_transfers:
          type: boolean
        stops:
          type: string
        duration:
          type: number
        start_date:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        logo:
          type: string
        email:
          type: string
        contacts:
          type: string
    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
    NearestSettlement:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
    StationScheduleResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
    ThreadStationsResponse:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        transport_type:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        station:
          $ref: '#/components/schemas/Station'
    Region:
      type: object
      properties:
        title:
          type: string
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
    Settlement:
      type: object
      properties:
        title:
          type: string
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    StationListResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        title:
          type: string
    CopyrightResponse:
      type: object
      properties:
        copyright:
            $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        logo_vm:
          type: string
        logo_vd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        url:
          type: string
        text:
          type: string
